body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.controls {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

#boardContainer {
    display: flex;
    justify-content: center;
}

#board {
    display: inline-block;
    margin-top: 20px;
    border: solid black;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.cell.black {
    background-color: #b58863;
    color: white;
}

.cell.white {
    background-color:#f0d9b5;
    color: black;
}

.cell.red {
    background-color: red;
}

.cell.queen {
    background-image: url('queen.png'); /* Replace with your queen icon */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent; /* Hide text content */
}
